theme-root {
  display: block;
  background: rgb(var(--bg));
  color: rgb(var(--on-bg));
  --ease-in-out: cubic-bezier(0.4, 0, 0.1, 1);
  flex: 1;
}

theme-root[swap] * {
  /*
    "Swapping" refers to the brief millisecond of time when the theme changes where all transitions
    are halted in order to avoid visual fades when changing the theme. Surprised not all sites
    properly handle this.
  */
  transition-duration: 0ms !important;
}
